# ===============================
# Для всех проектов (общее)
# ===============================
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
.env
.env.*
!.env.example
.idea/
.vscode/
*.swp
*~

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.ruff_cache/
.pyre/
.pytest_cache/
.coverage
.htmlcov/
.tox/
.nox/
.hypothesis/
.ipynb_checkpoints/
*.pyc

# ===============================
# C/C++
# ===============================
build/
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.dSYM/
*.ilk
*.pdb
*.idb
.vs/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
.cache/
clangd/
